html { 
  box-sizing: border-box;  
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  font-family: arial, sans-serif;
  font-size: 14px;
  box-sizing: inherit;
  margin: 0;
}

. button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
 font-family: arial,sans-serif;
 font-size: 14px;
 margin: 11px 4px;
 padding: 0 16px;
 line-height: 27px;
 height: 36px;
 min-width: 54px;
 text-align: center;
 cursor: pointer;
}

li {
  list-style: none;
  font-size: 0.5rem;
  display: inline-block;
  margin: 0 10px;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#top-nav {
  margin-top: 5px;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#top-nav a {
  color: rgba(0,0,0,0.87);
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
  padding-left: 15px;
  padding-top: 5px;
}

#apps-img {
  vertical-align: middle;
  padding-bottom: -10px;
  width: 100%;
  cursor: pointer;
}

#sign-in-button {
  background: #1a73e8;
  border: 1px solid transparent;
  color: #fff;
  height: 37px;
  width: 120px;
  cursor: pointer;
  font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 16px;
  margin-left: -8px;
  border-radius: 4px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-top: 5px; 
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 79% 8%;
  justify-content: space-between;
  align-items: space-between;
}

@media (min-width: 1400px) {
  body {
    grid-template-rows: 8% 83.5% 8%;
  }
}

#main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#neutre {
  display: flex;
  justify-content: flex-start;
  color: #70757a;
  white-space: nowrap;
  vertical-align: top;  
}

.feuille {
      height: 14px;
      margin-right: 6px;
      padding-left: 15px;
}

#logo {
  width: 40%;
}

#search-field {
  width: 600px;
  height: 42px;
  border: 1px solid #dfe1e5;
  border-radius: 40px;
  text-indent: 20px;
  border: 1px solid #BDBDBD;
  font-size: 16px;
}
}

#search-field:focus, #search-field:hover {
  box-shadow: 2px 3px 5px #BDBDBD;
}

input[type="submit"] {
  margin: 15px 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  color: #6E6E6E;
}

#search-buttons {
  display: flex;
  justify-content: center;
}

input[type="submit"]:hover {
  border: 1px solid #6E6E6E;
  color: black;
  background: #ECECEC;
  box-shadow: 2px 3px 5px #EFEFEF;
}

#footer-top {
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #F2F2F2;
  text-indent: 20px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
  font-weight: 400;
  color:#6E6E6E;
}

#footer-bottom {
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  color:#6E6E6E;
  padding: 15px 30px;
}

#footer-left li:first-child {
  margin-left: -20px;
}

#footer-bottom a {
  color: #6E6E6E;
}

@media (max-width: 500px) {
  #top-nav li:first-child {
    opacity: 0;
  }

  #search-field {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  #footer-bottom {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  #footer-right {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  #footer-right li:first-child {
    order: 1;
  }


  #footer-left {
    order: 2;
    justify-content: center;
    align-items: center;
  }

  #top-nav li:first-child {
    opacity: 0;
  }

  #search-field {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  #footer-bottom {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  #footer-right {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  #footer-right li:first-child {
    order: 1;
  }


  #footer-left {
    order: 2;
    justify-content: center;
    align-items: center;
  }
}